{% extends 'front/layout.html.twig' %}

{% block body %}
	<div class="container container--main">
		<div class="row">
			<div class="col-sm-9 col-xs-12">
				<h1 class="search-title">
					Résultat de la recherche avec {{ searchType }}: <span class="colored">{{ content }}</span>
				</h1>

				<div class="row grid articles-list">
					{% for article in articles %}
			        	<div class="col-xs-12 col-sm-6 grid-item mb-4 mt-1">
			        		{% include 'front/article/thumb.html.twig' %}
			        	</div>
		        	{% endfor %}
		        </div>
			</div>

			<div class="col-sm-3 col-xs-12">
				{% include 'front/common/aside.html.twig' %}
			</div>
		</div>
	</div>
{% endblock %}
