<div class="popular-tags">
    <h3 class="widget-title">
        Tags populaires
    </h3>

    <ul class="popular-tags__list">
        {% for tag in tags %}
            <li>
                <a href="{{ path('tag_search', { 'tag' : tag.id }) }}" class="tag-link">
                    {{ tag }}
                </a>
            </li>
        {% endfor %}
    </div>
</div>
