@import "../vendors/bootstrap/bootstrap.min.scss";
@import '~font-awesome/scss/font-awesome';

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

$color-main: #47c9e5;
$color-gray: #e6e6e6;

@import "composant/layout";
@import "composant/header";
@import "composant/home";
@import "composant/blog-post";

.pagination {
    display: inline-block;
    background-color: #f4f4f4;
    padding: 5px 4px;
    border-radius: 30px;
    border-width: 0px;
	margin-top: 2em;

	li {
    	display: block;
	    float: left;
	    margin: 0 2px;
	    text-align: center;

	    a {
			display: block;
			min-width: 40px;
			height: 40px;
			line-height: 40px;
			font-weight: 400;
			cursor: pointer;
			padding: 0;
			border-radius: 100px;

			&:hover,
			&:focus {
				background: $color-main;
	    		color: #fff;
			}

			&.special {
				padding-left: 10px;
				padding-right: 10px;
			}
	    }

	    &.active {
	    	a {
	    		background: $color-main;
	    		color: #fff;
	    	}
	    }
    }
}
