.menu-left {
	background-color: #333;
	position: absolute;
	left: 0;
	width: 300px;
	bottom: 0;
	top: 0;
	z-index: 10;
	color: #fff;
}

span.nav-link-text {
	margin-left: 1em;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    color: #e4e4e4;
    background: rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #000;
    border-top: 1px solid #505050;
}

@media (min-width: 992px) {
	#mainNav .navbar-collapse .navbar-sidenav {
	    margin-top: 64px;
	}
}
