* {
	font-family: 'Montserrat', sans-serif;
}

img {
	max-width: 100%;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	color: #3f3f3f;
	transition: all .3s;
}

a:hover,
a:focus {
	text-decoration: none;
	color: $color-main;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Montserrat";
    color: #3f3f3f;
    font-weight: 700;
    margin: 0 0 20px 0;
}

body a h1, body a h2, body a h3, body a h4, body a h5, body a h6 {
	&:hover,
	&:focus {
		color: $color-main;
	}
}

.widget-title {
	font-size: 20px;
}

.input-group {
	input.form-control {
	    padding: 15px;
    	border-radius: 0;
    	border-color: transparent;
	}

	.input-group-btn {
		.btn {
			border-radius: 0;
			background: #efefef;
			border-color: transparent;

			&:hover,
			&:focus {
				background: $color-main;
				color: #fff;
				cursor: pointer;
			}
		}
	}
}

header {
	.navbar {
		font-weight: bold;
		padding: 0;
		border-bottom: 1px solid rgba( 0,0,0,0.08 )
	}

	.navbar-light .navbar-nav .nav-link {
		padding: 1.5em 1em;
	}

	.navbar-brand {
		padding: .5em 1em;

		img {
		    max-width: 280px;
    		max-height: 100px;
		}
	}
}

header.home-header {
	.navbar {
		position: absolute;
		background: none;
		border: none;
		z-index: 1;
	}

	.navbar-light .navbar-brand,
	.navbar-light .navbar-toggler {
		color: #fff;
	}

	.navbar-light .navbar-nav .open > .nav-link,
	.navbar-light .navbar-nav .active > .nav-link,
	.navbar-light .navbar-nav .nav-link.open,
	.navbar-light .navbar-nav .nav-link.active {
		color: #fff;
	}

	.navbar-light .navbar-nav .nav-link {
		color: rgba(255, 255, 255, 0.85);

		&:hover,
		&:focus {
			color: #fff;
		}
	}
}

footer {
	.footer-top {
	    background-color: #262626;
	    color: #e3e3e3;
		padding: 100px 0 50px 0;

		ul.social-footer-list li {
			display: inline-block;
			margin-right: 10px;

			a {
				color: #656565;
				width: 40px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				display: block;
				border-radius: 100%;
				font-size: 23px;
				background: #333;

				&.fb:hover,
				&.fb:focus {
					color: #fff;
					background: #3b5999;
				}

				&.tw:hover,
				&.tw:focus {
					color: #fff;
					background: #55acee;
				}

				&.ggl:hover,
				&.ggl:focus {
					color: #fff;
					background: #dd4b39;
				}
			}
		}
	}

	.footer-bottom {
		background: #191919;
		padding: 3em;
		text-align: center;
		color: #a0a0a0;
		font-size: 11px;
	}
}

.search-title {
	font-size: 20px;
}

.colored {
	color: $color-main;
}

.modal-backdrop.show {
	opacity: .9;
}

.img-thumbnail {
	border-radius: 0;
}

#st-2 .st-btn:hover > span {
	font-size: 12px;
}

.st-logo {
	display: none;
}
