$break-small: 768px;
$break-large: 992px;

@media screen and (max-width: $break-small) {
	header .navbar {
		width: 100%;
		padding: 15px;
	}

	header .navbar-brand {
		position: absolute;
		padding: 15px;
		margin: 0;
		top: 0;
		right: 0;

		img {
			width: auto;
		    max-width: 250px;
    		max-height: 40px;
		}
	}

	header.home-header .navbar-collapse {
	    background: rgba(0, 0, 0, 0.75);
    	margin: 0 -15px;
    	margin-top: 15px;
	}

	.tags-container {
		display: none;
	}

	.footer-block {
		margin-bottom: 30px;
	}

	.blog-post {
		padding: 1em;
		margin-bottom: 2em;

		&__img {
			height: 230px;
			 margin: -1em;
    		margin-bottom: 1em;
		}
	}

	.header {
		min-height: auto;

		.header__title {
		    bottom: 30%;
    		transform: scale(.5);
		}
	}
}
