<html lang="en-US">
<head>
	<meta charset="UTF-8">

			<meta name="viewport" content="width=device-width, initial-scale=1">


	<title>Jevelin Theme Blog Demo – Just another Jevelin WordPress Theme site</title>
<link rel="stylesheet" type="text/css" href="{{ asset('build/front.css') }}">
        {% block stylesheets %}{% endblock %}
</head>
<body class="home page-template page-template-page-blog page-template-page-blog-php page page-id-5 sh-blog-style2" style="overflow: visible;"><div class="sh-page-loader sh-table sh-page-loader-style-spinner" style="display: none;">
		<div class="sh-table-cell">
			<div id="loading-center-absolute">
				<div class="object" id="object_one"></div>
				<div class="object" id="object_two"></div>
				<div class="object" id="object_three"></div>
			</div>
		</div>
	</div>

	<style type="text/css">
		body {
			overflow: hidden;
		}

		.sh-page-loader {
			background-color: #ffffff;
		}

		.sk-cube-grid .sk-cube,
		.sk-folding-cube .sk-cube:before,
		.sk-spinner > div,
		.sh-page-loader-style-spinner .object {
			background-color: #47c9e5!important;
		}
	</style>

	<noscript>&lt;style&gt;.woocommerce-product-gallery{ opacity: 1 !important; }&lt;/style&gt;</noscript>
	<meta name="generator" content="Powered by Slider Revolution 5.4.6.3.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface.">
<script type="text/javascript">function setREVStartSize(e){
				try{ var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
					if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
				}catch(d){console.log("Failure at Presize of Slider:"+d)}
			};</script>
	<script type="text/javascript">
			    	</script>





	<div id="page-container" class="">


					<header class="primary-mobile primary-mobile-light primary-mobile-light-noborder" style="height: 99px;">

<div id="header-mobile" class="sh-header-mobile">
	<div class="sh-header-mobile-navigation">
		<div class="container">
			<div class="sh-table">
				<div class="sh-table-cell sh-group">

										            <div class="header-logo sh-group-equal">
                <a href="//jevelin.shufflehound.com/hello/" class="header-logo-container sh-table-small">
                    <div class="sh-table-cell">

                        <img class="sh-standard-logo" src="//jevelin.shufflehound.com/blog1/wp-content/uploads/sites/11/2016/11/Logo_dark_2-1.png" alt="Jevelin Theme Blog Demo">
                        <img class="sh-sticky-logo" src="//jevelin.shufflehound.com/blog1/wp-content/uploads/sites/11/2016/11/Logo_dark_2-1.png" alt="Jevelin Theme Blog Demo">
                        <img class="sh-light-logo" src="//jevelin.shufflehound.com/blog1/wp-content/uploads/sites/11/2016/11/Jevelin-logov1.png" alt="Jevelin Theme Blog Demo">

                    </div>
                </a>
                            </div>


				</div>
				<div class="sh-table-cell">

										<nav id="header-navigation-mobile" class="header-standard-position">
						<div class="sh-nav-container">
							<ul class="sh-nav sf-js-enabled" style="touch-action: pan-y;">


        <li class="menu-item sh-nav-dropdown">
            <a>
                <div class="sh-table-full">
                    <div class="sh-table-cell">
                        <span class="c-hamburger c-hamburger--htx">
                            <span>Toggle menu</span>
                        </span>
                    </div>
                </div>
            </a>
        </li>
							</ul>
						</div>
					</nav>

				</div>
			</div>
		</div>
	</div>

	<nav class="sh-header-mobile-dropdown" style="display: none;">
		<div class="container sh-nav-container">
			<ul class="sh-nav-mobile"><li id="menu-item-7" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-7"><a href="https://jevelin.shufflehound.com/blog1/">Home</a></li>
<li id="menu-item-108" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-108"><a href="#">Style</a>
<ul class="sub-menu">
	<li id="menu-item-114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-114"><a href="https://jevelin.shufflehound.com/blog1/">Masonry + Sidebar</a></li>
	<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="https://jevelin.shufflehound.com/blog1/masonry_sidebar/">Masonry + Full Width</a></li>
	<li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="https://jevelin.shufflehound.com/blog1/from-side-to-side/">From Side to Side + Slider</a></li>
</ul>
</li>
<li id="menu-item-112" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-112"><a href="http://jevelin.shufflehound.com/blog1/?category=people">People</a></li>
<li id="menu-item-111" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-111"><a href="http://jevelin.shufflehound.com/blog1/?category=design">Design</a></li>
<li id="menu-item-113" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-113"><a href="http://jevelin.shufflehound.com/blog1/?category=travel">Travel</a></li>
<li id="menu-item-110" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-110"><a href="http://jevelin.shufflehound.com/blog1/?category=commercial">Commercial</a></li>


            </ul>
		</div>

		<div class="container sh-nav-container">
							<div class="header-mobile-search">
					<form role="search" method="get" class="header-mobile-form" action="https://jevelin.shufflehound.com/blog1/">
						<input class="header-mobile-form-input" type="text" placeholder="Search here.." value="" name="s" required="">
						<button type="submit" class="header-mobile-form-submit">
							<i class="icon-magnifier"></i>
						</button>
					</form>
				</div>
					</div>

					<div class="header-mobile-social-media">
				<a href="http://twitter.com" target="_blank" class="social-media-twitter">
                <i class="icon-social-twitter"></i>
            </a><a href="http://facebook.com" target="_blank" class="social-media-facebook">
                <i class="icon-social-facebook"></i>
            </a><div class="sh-clear"></div>			</div>
			</nav>
</div>
			</header>
			<header class="primary-desktop primary-desktop-light primary-desktop-light-noborder" style="height: 99px;">

<div class="sh-header-height">
	<div class="sh-header sh-header-1 sh-header-small-icons">
		<div class="container">
			<div class="sh-table">
				<div class="sh-table-cell sh-group">

										            <div class="header-logo sh-group-equal">
                <a href="//jevelin.shufflehound.com/hello/" class="header-logo-container sh-table-small">
                    <div class="sh-table-cell">

                        <img class="sh-standard-logo" src="//jevelin.shufflehound.com/blog1/wp-content/uploads/sites/11/2016/11/Logo_dark_2-1.png" alt="Jevelin Theme Blog Demo">
                        <img class="sh-sticky-logo" src="//jevelin.shufflehound.com/blog1/wp-content/uploads/sites/11/2016/11/Logo_dark_2-1.png" alt="Jevelin Theme Blog Demo">
                        <img class="sh-light-logo" src="//jevelin.shufflehound.com/blog1/wp-content/uploads/sites/11/2016/11/Jevelin-logov1.png" alt="Jevelin Theme Blog Demo">

                    </div>
                </a>
                            </div>


				</div>
				<div class="sh-table-cell">

										<nav id="header-navigation" class="header-standard-position">
													<div class="sh-nav-container"><ul id="menu-menu-1" class="sh-nav sf-js-enabled" style="touch-action: pan-y;"><li id="menu-item-7" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-7"><a href="https://jevelin.shufflehound.com/blog1/">Home</a></li>
<li id="menu-item-108" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-108"><a href="#" class="sf-with-ul">Style</a>
<ul class="sub-menu" style="display: none;">
	<li id="menu-item-114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-114"><a href="https://jevelin.shufflehound.com/blog1/">Masonry + Sidebar</a></li>
	<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="https://jevelin.shufflehound.com/blog1/masonry_sidebar/">Masonry + Full Width</a></li>
	<li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="https://jevelin.shufflehound.com/blog1/from-side-to-side/">From Side to Side + Slider</a></li>
</ul>
</li>
<li id="menu-item-112" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-112"><a href="http://jevelin.shufflehound.com/blog1/?category=people">People</a></li>
<li id="menu-item-111" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-111"><a href="http://jevelin.shufflehound.com/blog1/?category=design">Design</a></li>
<li id="menu-item-113" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-113"><a href="http://jevelin.shufflehound.com/blog1/?category=travel">Travel</a></li>
<li id="menu-item-110" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-110"><a href="http://jevelin.shufflehound.com/blog1/?category=commercial">Commercial</a></li>

            <li class="menu-item sh-nav-search sh-nav-special">
                <a href="#"><i class="icon icon-magnifier"></i></a>
            </li>
            <li class="menu-item sh-nav-social sh-nav-special">
                <a href="http://twitter.com" target="_blank" class="social-media-twitter">
                <i class="icon-social-twitter"></i>
            </a><a href="http://facebook.com" target="_blank" class="social-media-facebook">
                <i class="icon-social-facebook"></i>
            </a><div class="sh-clear"></div>
            </li></ul></div>											</nav>

				</div>
			</div>
		</div>

		<div id="header-search" class="sh-header-search">
	<div class="sh-table-full">
		<div class="sh-table-cell">

			<div class="line-test">
				<div class="container">

					<form method="get" class="sh-header-search-form" action="https://jevelin.shufflehound.com/blog1/">
						<input type="search" class="sh-header-search-input" placeholder="Search Here.." value="" name="s" required="">
						<button type="submit" class="sh-header-search-submit">
							<i class="icon-magnifier"></i>
						</button>
						<div class="sh-header-search-close close-header-search">
							<i class="ti-close"></i>
						</div>

											</form>

				</div>
			</div>

		</div>
	</div>
</div>
	</div>
</div>
			</header>




					<style media="screen">
				.sh-titlebar {
					background-image: url( //cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/Blog_title_image.jpg );
				}
			</style>


			<div class="sh-titlebar sh-titlebar-center sh-titlebar-light sh-titlebar-text-style2" style="padding-top: 99px;">
				<div class="container">
					<div class="sh-table sh-titlebar-height-small">
						<div class="sh-table-cell">
							<div class="titlebar-title">

								<h2 class="titlebar-title-h1">
									Your ocean of posts								</h2>

																	<div class="sh-titlebar-desc">
										<p>Masonry + boxel layout</p>
									</div>

							</div>
													</div>
					</div>

									</div>
			</div>

			<script type="text/javascript">
									if (document.documentElement.clientWidth > 1020) {
						var header_height = document.getElementsByClassName('primary-desktop')[0].clientHeight;
						document.getElementsByClassName("sh-titlebar")[0].style.paddingTop = header_height +'px';
					} else {
						var header_height = document.getElementsByClassName('sh-header-mobile-navigation')[0].clientHeight;
						document.getElementsByClassName("sh-titlebar")[0].style.paddingTop = header_height +'px';
					}
							</script>




			<div id="wrapper">
				<div class="content-container sh-page-layout-default">
									<div class="container entry-content">




	<div class="sh-filter-blog sh-filter-container sh-portfolio-filter-style3 sh-portfolio-filter-style4">
		<div class="sh-filter">
			<span class="sh-filter-item active">
				<a href="https://jevelin.shufflehound.com/blog1/" class="sh-filter-item-content">
					All				</a>
			</span>


				<span class="sh-filter-item">
					<a href="https://jevelin.shufflehound.com/blog1/?category=commercial" class="sh-filter-item-content">
						Commercial					</a>
				</span>


				<span class="sh-filter-item">
					<a href="https://jevelin.shufflehound.com/blog1/?category=design" class="sh-filter-item-content">
						Design					</a>
				</span>


				<span class="sh-filter-item">
					<a href="https://jevelin.shufflehound.com/blog1/?category=nature" class="sh-filter-item-content">
						Nature					</a>
				</span>


				<span class="sh-filter-item">
					<a href="https://jevelin.shufflehound.com/blog1/?category=people" class="sh-filter-item-content">
						People					</a>
				</span>


				<span class="sh-filter-item">
					<a href="https://jevelin.shufflehound.com/blog1/?category=photography" class="sh-filter-item-content">
						Photography					</a>
				</span>


				<span class="sh-filter-item">
					<a href="https://jevelin.shufflehound.com/blog1/?category=tech" class="sh-filter-item-content">
						Tech					</a>
				</span>


				<span class="sh-filter-item">
					<a href="https://jevelin.shufflehound.com/blog1/?category=travel" class="sh-filter-item-content">
						Travel					</a>
				</span>


				<span class="sh-filter-item">
					<a href="https://jevelin.shufflehound.com/blog1/?category=uncategorized" class="sh-filter-item-content">
						Uncategorized					</a>
				</span>

					</div>
	</div>

	<div id="content" class="content-with-sidebar-right">
		<div class="sh-group blog-list blog-style-masonry masonry2" style="position: relative; height: 4427.67px; opacity: 1;">

	<article id="post-93" class="post-item post-93 post type-post status-publish format-standard has-post-thumbnail hentry category-people category-travel tag-girl tag-lifestyle" style="position: absolute; left: 0px; top: 0px;">
		<div class="post-container">

			<div class="post-meta-thumb">
				<img width="1024" height="777" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/1-1024x777.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/1-1024x777.jpg 1024w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/1-300x228.jpg 300w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/1-768x583.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px">
        <div class="sh-overlay-style1">
            <div class="sh-table-full">
                                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/trip-that-youll-never-forget/" class="sh-overlay-item sh-table-cell">
                        <div class="sh-overlay-item-container">
                            <i class="icon-link"></i>
                        </div>
                    </a>

                                    <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/1-1024x777.jpg" class="sh-overlay-item sh-table-cell" data-rel="lightcase">
                        <div class="sh-overlay-item-container">
                            <i class="icon-magnifier-add"></i>
                        </div>
                    </a>
                            </div>
        </div>

    			</div>

			<div class="post-content-container">

				<div class="post-meta post-meta-one">

        <span class="post-meta-author">
            by            <a href="https://jevelin.shufflehound.com/blog1/author/shufflehound/" class="bypostauthor">
                shufflehound            </a>
        </span>

                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/trip-that-youll-never-forget/" class="post-meta-date sh-default-color">November 23, 2016</a>

    				</div>

				<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/trip-that-youll-never-forget/" class="post-title">
					<h2>
												Trip that you’ll never ever forget					</h2>
				</a>

				<div class="post-content">
											Quisque dictum eros nisl, a maximus massa accumsan non. Aliquam erat volutpat. Quisque at finibus dui. Praesent…									</div>

				<div class="post-meta post-meta-two">

        <div class="sh-columns post-meta-comments">
            <span class="post-meta-categories">
                <i class="icon-tag"></i>
                <a href="https://jevelin.shufflehound.com/blog1/category/people/">People</a>, <a href="https://jevelin.shufflehound.com/blog1/category/travel/">Travel</a>            </span>

                            <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/trip-that-youll-never-forget/#comments" class="post-meta-comments">
                    <i class="icon icon-bubble"></i>
                    0                </a>
                    </div>

    				</div>
			</div>

		</div>
	</article>



	<article id="post-91" class="post-item post-91 post type-post status-publish format-gallery has-post-thumbnail hentry category-photography category-tech tag-camera tag-gear post_format-post-format-gallery" style="position: absolute; left: 442px; top: 0px;">
		<div class="post-container">

							<div class="sh-gallery slick-initialized slick-slider slick-dotted"><button type="button" class="slick-prev slick-arrow" style="display: block;"><span class="ti-angle-left"></span></button>
											<div class="slick-list draggable" style="height: 412px;"><div class="slick-track" style="opacity: 1; width: 2884px; transform: translate3d(-412px, 0px, 0px);"><div class="sh-gallery-item slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 412px;" tabindex="-1">
									<img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/2_3-660x660.jpg" alt="" class="width-full">
								</div><div class="sh-gallery-item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 412px;" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00">
							<img width="660" height="660" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/2-660x660.jpg" class="width-full wp-post-image" alt="" srcset="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/2-660x660.jpg 660w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/2-150x150.jpg 150w" sizes="(max-width: 660px) 100vw, 660px">						</div><div class="sh-gallery-item slick-slide" data-slick-index="1" aria-hidden="true" style="width: 412px;" tabindex="-1" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01">
									<img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/2_2-660x660.jpg" alt="" class="width-full">
								</div><div class="sh-gallery-item slick-slide" data-slick-index="2" aria-hidden="true" style="width: 412px;" tabindex="-1" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02">
									<img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/2_3-660x660.jpg" alt="" class="width-full">
								</div><div class="sh-gallery-item slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" style="width: 412px;" tabindex="-1">
							<img width="660" height="660" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/2-660x660.jpg" class="width-full wp-post-image" alt="" srcset="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/2-660x660.jpg 660w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/2-150x150.jpg 150w" sizes="(max-width: 660px) 100vw, 660px">						</div><div class="sh-gallery-item slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" style="width: 412px;" tabindex="-1">
									<img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/2_2-660x660.jpg" alt="" class="width-full">
								</div><div class="sh-gallery-item slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" style="width: 412px;" tabindex="-1">
									<img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/2_3-660x660.jpg" alt="" class="width-full">
								</div></div></div>







											<button type="button" class="slick-next slick-arrow" style="display: block;"><span class="ti-angle-right"></span></button><ul class="slick-dots" style="display: table;" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 3" tabindex="0" aria-selected="true">1</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 3" tabindex="-1">2</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 3" tabindex="-1">3</button></li></ul></div>

			<div class="post-content-container">

				<div class="post-meta post-meta-one">

        <span class="post-meta-author">
            by            <a href="https://jevelin.shufflehound.com/blog1/author/shufflehound/" class="bypostauthor">
                shufflehound            </a>
        </span>

                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/gear-on-the-white-cloth/" class="post-meta-date sh-default-color">November 23, 2016</a>

    				</div>

				<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/gear-on-the-white-cloth/" class="post-title">
					<h2>
												Must-have gear					</h2>
				</a>

				<div class="post-content">
											Ut et lacus ex. Aliquam dignissim mauris sit amet purus convallis, vitae vehicula lectus tincidunt. Nulla placerat…									</div>

				<div class="post-meta post-meta-two">

        <div class="sh-columns post-meta-comments">
            <span class="post-meta-categories">
                <i class="icon-tag"></i>
                <a href="https://jevelin.shufflehound.com/blog1/category/photography/">Photography</a>, <a href="https://jevelin.shufflehound.com/blog1/category/tech/">Tech</a>            </span>

                            <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/gear-on-the-white-cloth/#comments" class="post-meta-comments">
                    <i class="icon icon-bubble"></i>
                    0                </a>
                    </div>

    				</div>
			</div>

		</div>
	</article>




	<article id="post-88" class="post-item post-88 post type-post status-publish format-standard has-post-thumbnail hentry category-design category-photography tag-movie tag-stormtrooper" style="position: absolute; left: 0px; top: 649px;">
		<div class="post-container">

			<div class="post-meta-thumb">
				<img width="1024" height="817" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/3-1024x817.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/3-1024x817.jpg 1024w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/3-300x239.jpg 300w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/3-768x612.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px">
        <div class="sh-overlay-style1">
            <div class="sh-table-full">
                                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/movie-like-photo-shoot/" class="sh-overlay-item sh-table-cell">
                        <div class="sh-overlay-item-container">
                            <i class="icon-link"></i>
                        </div>
                    </a>

                                    <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/3-1024x817.jpg" class="sh-overlay-item sh-table-cell" data-rel="lightcase">
                        <div class="sh-overlay-item-container">
                            <i class="icon-magnifier-add"></i>
                        </div>
                    </a>
                            </div>
        </div>

    			</div>

			<div class="post-content-container">

				<div class="post-meta post-meta-one">

        <span class="post-meta-author">
            by            <a href="https://jevelin.shufflehound.com/blog1/author/shufflehound/" class="bypostauthor">
                shufflehound            </a>
        </span>

                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/movie-like-photo-shoot/" class="post-meta-date sh-default-color">November 23, 2016</a>

    				</div>

				<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/movie-like-photo-shoot/" class="post-title">
					<h2>
												Movielike photo shoot – B&amp;W					</h2>
				</a>

				<div class="post-content">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in eros scelerisque, scelerisque nisl sit amet, molestie…									</div>

				<div class="post-meta post-meta-two">

        <div class="sh-columns post-meta-comments">
            <span class="post-meta-categories">
                <i class="icon-tag"></i>
                <a href="https://jevelin.shufflehound.com/blog1/category/design/">Design</a>, <a href="https://jevelin.shufflehound.com/blog1/category/photography/">Photography</a>            </span>

                            <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/movie-like-photo-shoot/#comments" class="post-meta-comments">
                    <i class="icon icon-bubble"></i>
                    0                </a>
                    </div>

    				</div>
			</div>

		</div>
	</article>



	<article id="post-86" class="post-item post-86 post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-craft tag-master" style="position: absolute; left: 442px; top: 721px;">
		<div class="post-container">

			<div class="post-meta-thumb">
				<img width="790" height="1024" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/4-790x1024.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/4-790x1024.jpg 790w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/4-231x300.jpg 231w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/4-768x996.jpg 768w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/4.jpg 1200w" sizes="(max-width: 790px) 100vw, 790px">
        <div class="sh-overlay-style1">
            <div class="sh-table-full">
                                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/craftsmen-at-work/" class="sh-overlay-item sh-table-cell">
                        <div class="sh-overlay-item-container">
                            <i class="icon-link"></i>
                        </div>
                    </a>

                                    <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/4-790x1024.jpg" class="sh-overlay-item sh-table-cell" data-rel="lightcase">
                        <div class="sh-overlay-item-container">
                            <i class="icon-magnifier-add"></i>
                        </div>
                    </a>
                            </div>
        </div>

    			</div>

			<div class="post-content-container">

				<div class="post-meta post-meta-one">

        <span class="post-meta-author">
            by            <a href="https://jevelin.shufflehound.com/blog1/author/shufflehound/" class="bypostauthor">
                shufflehound            </a>
        </span>

                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/craftsmen-at-work/" class="post-meta-date sh-default-color">November 23, 2016</a>

    				</div>

				<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/craftsmen-at-work/" class="post-title">
					<h2>
												Craftsmen at work					</h2>
				</a>

				<div class="post-content">
											Morbi eu ante mollis, elementum tortor in, hendrerit libero. Maecenas feugiat rhoncus magna, at consequat libero dictum…									</div>

				<div class="post-meta post-meta-two">

        <div class="sh-columns post-meta-comments">
            <span class="post-meta-categories">
                <i class="icon-tag"></i>
                <a href="https://jevelin.shufflehound.com/blog1/category/people/">People</a>            </span>

                            <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/craftsmen-at-work/#comments" class="post-meta-comments">
                    <i class="icon icon-bubble"></i>
                    0                </a>
                    </div>

    				</div>
			</div>

		</div>
	</article>



	<article id="post-83" class="post-item post-83 post type-post status-publish format-standard has-post-thumbnail hentry category-people category-travel tag-jumping tag-lake" style="position: absolute; left: 0px; top: 1315px;">
		<div class="post-container">

			<div class="post-meta-thumb">
				<img width="1024" height="721" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/5-1024x721.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/5-1024x721.jpg 1024w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/5-300x211.jpg 300w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/5-768x540.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px">
        <div class="sh-overlay-style1">
            <div class="sh-table-full">
                                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/83/" class="sh-overlay-item sh-table-cell">
                        <div class="sh-overlay-item-container">
                            <i class="icon-link"></i>
                        </div>
                    </a>

                                    <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/5-1024x721.jpg" class="sh-overlay-item sh-table-cell" data-rel="lightcase">
                        <div class="sh-overlay-item-container">
                            <i class="icon-magnifier-add"></i>
                        </div>
                    </a>
                            </div>
        </div>

    			</div>

			<div class="post-content-container">

				<div class="post-meta post-meta-one">

        <span class="post-meta-author">
            by            <a href="https://jevelin.shufflehound.com/blog1/author/shufflehound/" class="bypostauthor">
                shufflehound            </a>
        </span>

                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/83/" class="post-meta-date sh-default-color">November 23, 2016</a>

    				</div>

				<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/83/" class="post-title">
					<h2>
												Top 5 tips to have a great vacation					</h2>
				</a>

				<div class="post-content">
											In sed consectetur mi, a efficitur dui. Duis ac lacus sem. Aenean eget justo malesuada, fringilla turpis…									</div>

				<div class="post-meta post-meta-two">

        <div class="sh-columns post-meta-comments">
            <span class="post-meta-categories">
                <i class="icon-tag"></i>
                <a href="https://jevelin.shufflehound.com/blog1/category/people/">People</a>, <a href="https://jevelin.shufflehound.com/blog1/category/travel/">Travel</a>            </span>

                            <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/83/#comments" class="post-meta-comments">
                    <i class="icon icon-bubble"></i>
                    0                </a>
                    </div>

    				</div>
			</div>

		</div>
	</article>



	<article id="post-78" class="post-item post-78 post type-post status-publish format-video has-post-thumbnail hentry category-people category-tech tag-bike post_format-post-format-video" style="position: absolute; left: 442px; top: 1564px;">
		<div class="post-container">

							<div class="post-meta-video">
					<div class="ratio-container">
						<div class="ratio-content">
							<iframe src="https://player.vimeo.com/video/191954163" width="500" height="281" frameborder="0" title="R U N A W A Y  teaser from my first colaboration  with  WE  R I D E  B A R C E L O N A" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>						</div>
					</div>
				</div>

			<div class="post-content-container">

				<div class="post-meta post-meta-one">

        <span class="post-meta-author">
            by            <a href="https://jevelin.shufflehound.com/blog1/author/shufflehound/" class="bypostauthor">
                shufflehound            </a>
        </span>

                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/test/" class="post-meta-date sh-default-color">November 23, 2016</a>

    				</div>

				<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/test/" class="post-title">
					<h2>
												Video: Testing the “Black beast” on the road					</h2>
				</a>

				<div class="post-content">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in eros scelerisque, scelerisque nisl sit amet, molestie…									</div>

				<div class="post-meta post-meta-two">

        <div class="sh-columns post-meta-comments">
            <span class="post-meta-categories">
                <i class="icon-tag"></i>
                <a href="https://jevelin.shufflehound.com/blog1/category/people/">People</a>, <a href="https://jevelin.shufflehound.com/blog1/category/tech/">Tech</a>            </span>

                            <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/test/#comments" class="post-meta-comments">
                    <i class="icon icon-bubble"></i>
                    0                </a>
                    </div>

    				</div>
			</div>

		</div>
	</article>



	<article id="post-76" class="post-item post-76 post type-post status-publish format-standard has-post-thumbnail hentry category-commercial category-design" style="position: absolute; left: 0px; top: 1942px;">
		<div class="post-container">

			<div class="post-meta-thumb">
				<img width="1024" height="600" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/6-1024x600.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/6-1024x600.jpg 1024w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/6-300x176.jpg 300w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/6-768x450.jpg 768w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/6.jpg 1200w" sizes="(max-width: 1024px) 100vw, 1024px">
        <div class="sh-overlay-style1">
            <div class="sh-table-full">
                                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/the-proper-way-to-dress-up-for-the-business-meeting/" class="sh-overlay-item sh-table-cell">
                        <div class="sh-overlay-item-container">
                            <i class="icon-link"></i>
                        </div>
                    </a>

                                    <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/6-1024x600.jpg" class="sh-overlay-item sh-table-cell" data-rel="lightcase">
                        <div class="sh-overlay-item-container">
                            <i class="icon-magnifier-add"></i>
                        </div>
                    </a>
                            </div>
        </div>

    			</div>

			<div class="post-content-container">

				<div class="post-meta post-meta-one">

        <span class="post-meta-author">
            by            <a href="https://jevelin.shufflehound.com/blog1/author/shufflehound/" class="bypostauthor">
                shufflehound            </a>
        </span>

                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/the-proper-way-to-dress-up-for-the-business-meeting/" class="post-meta-date sh-default-color">November 23, 2016</a>

    				</div>

				<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/the-proper-way-to-dress-up-for-the-business-meeting/" class="post-title">
					<h2>
												The proper way to dress up for the business meeting					</h2>
				</a>

				<div class="post-content">
											Quisque dictum eros nisl, a maximus massa accumsan non. Aliquam erat volutpat. Quisque at finibus dui. Praesent…									</div>

				<div class="post-meta post-meta-two">

        <div class="sh-columns post-meta-comments">
            <span class="post-meta-categories">
                <i class="icon-tag"></i>
                <a href="https://jevelin.shufflehound.com/blog1/category/commercial/">Commercial</a>, <a href="https://jevelin.shufflehound.com/blog1/category/design/">Design</a>            </span>

                            <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/the-proper-way-to-dress-up-for-the-business-meeting/#comments" class="post-meta-comments">
                    <i class="icon icon-bubble"></i>
                    0                </a>
                    </div>

    				</div>
			</div>

		</div>
	</article>



	<article id="post-74" class="post-item post-74 post type-post status-publish format-standard has-post-thumbnail hentry category-commercial tag-building tag-office" style="position: absolute; left: 442px; top: 2160px;">
		<div class="post-container">

			<div class="post-meta-thumb">
				<img width="1024" height="916" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/7-1024x916.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/7-1024x916.jpg 1024w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/7-300x268.jpg 300w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/7-768x687.jpg 768w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/7.jpg 1200w" sizes="(max-width: 1024px) 100vw, 1024px">
        <div class="sh-overlay-style1">
            <div class="sh-table-full">
                                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/main-headquarters-if-finally-ready/" class="sh-overlay-item sh-table-cell">
                        <div class="sh-overlay-item-container">
                            <i class="icon-link"></i>
                        </div>
                    </a>

                                    <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/7-1024x916.jpg" class="sh-overlay-item sh-table-cell" data-rel="lightcase">
                        <div class="sh-overlay-item-container">
                            <i class="icon-magnifier-add"></i>
                        </div>
                    </a>
                            </div>
        </div>

    			</div>

			<div class="post-content-container">

				<div class="post-meta post-meta-one">

        <span class="post-meta-author">
            by            <a href="https://jevelin.shufflehound.com/blog1/author/shufflehound/" class="bypostauthor">
                shufflehound            </a>
        </span>

                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/main-headquarters-if-finally-ready/" class="post-meta-date sh-default-color">November 23, 2016</a>

    				</div>

				<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/main-headquarters-if-finally-ready/" class="post-title">
					<h2>
												Main headquarters if finally ready					</h2>
				</a>

				<div class="post-content">
											Ut et lacus ex. Aliquam dignissim mauris sit amet purus convallis, vitae vehicula lectus tincidunt. Nulla placerat…									</div>

				<div class="post-meta post-meta-two">

        <div class="sh-columns post-meta-comments">
            <span class="post-meta-categories">
                <i class="icon-tag"></i>
                <a href="https://jevelin.shufflehound.com/blog1/category/commercial/">Commercial</a>            </span>

                            <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/main-headquarters-if-finally-ready/#comments" class="post-meta-comments">
                    <i class="icon icon-bubble"></i>
                    0                </a>
                    </div>

    				</div>
			</div>

		</div>
	</article>



	<article id="post-72" class="post-item post-72 post type-post status-publish format-standard has-post-thumbnail hentry category-design category-people tag-girl" style="position: absolute; left: 0px; top: 2548px;">
		<div class="post-container">

			<div class="post-meta-thumb">
				<img width="780" height="1024" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/8-780x1024.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/8-780x1024.jpg 780w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/8-228x300.jpg 228w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/8-768x1008.jpg 768w" sizes="(max-width: 780px) 100vw, 780px">
        <div class="sh-overlay-style1">
            <div class="sh-table-full">
                                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/black-and-white-portrait/" class="sh-overlay-item sh-table-cell">
                        <div class="sh-overlay-item-container">
                            <i class="icon-link"></i>
                        </div>
                    </a>

                                    <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/8-780x1024.jpg" class="sh-overlay-item sh-table-cell" data-rel="lightcase">
                        <div class="sh-overlay-item-container">
                            <i class="icon-magnifier-add"></i>
                        </div>
                    </a>
                            </div>
        </div>

    			</div>

			<div class="post-content-container">

				<div class="post-meta post-meta-one">

        <span class="post-meta-author">
            by            <a href="https://jevelin.shufflehound.com/blog1/author/shufflehound/" class="bypostauthor">
                shufflehound            </a>
        </span>

                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/black-and-white-portrait/" class="post-meta-date sh-default-color">November 23, 2016</a>

    				</div>

				<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/black-and-white-portrait/" class="post-title">
					<h2>
												Black and white portrait					</h2>
				</a>

				<div class="post-content">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in eros scelerisque, scelerisque nisl sit amet, molestie…									</div>

				<div class="post-meta post-meta-two">

        <div class="sh-columns post-meta-comments">
            <span class="post-meta-categories">
                <i class="icon-tag"></i>
                <a href="https://jevelin.shufflehound.com/blog1/category/design/">Design</a>, <a href="https://jevelin.shufflehound.com/blog1/category/people/">People</a>            </span>

                            <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/black-and-white-portrait/#comments" class="post-meta-comments">
                    <i class="icon icon-bubble"></i>
                    0                </a>
                    </div>

    				</div>
			</div>

		</div>
	</article>



	<article id="post-68" class="post-item post-68 post type-post status-publish format-gallery has-post-thumbnail hentry category-nature category-people category-travel tag-mountains post_format-post-format-gallery" style="position: absolute; left: 442px; top: 2866px;">
		<div class="post-container">

							<div class="sh-gallery slick-initialized slick-slider slick-dotted"><button type="button" class="slick-prev slick-arrow" style="display: block;"><span class="ti-angle-left"></span></button>
											<div class="slick-list draggable" style="height: 412px;"><div class="slick-track" style="opacity: 1; width: 2884px; transform: translate3d(-412px, 0px, 0px);"><div class="sh-gallery-item slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 412px;" tabindex="-1">
									<img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/5-660x660.jpg" alt="" class="width-full">
								</div><div class="sh-gallery-item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 412px;" tabindex="0" role="tabpanel" id="slick-slide10" aria-describedby="slick-slide-control10">
							<img width="660" height="660" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/9-660x660.jpg" class="width-full wp-post-image" alt="" srcset="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/9-660x660.jpg 660w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/9-150x150.jpg 150w" sizes="(max-width: 660px) 100vw, 660px">						</div><div class="sh-gallery-item slick-slide" data-slick-index="1" aria-hidden="true" style="width: 412px;" tabindex="-1" role="tabpanel" id="slick-slide11" aria-describedby="slick-slide-control11">
									<img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/1-660x660.jpg" alt="" class="width-full">
								</div><div class="sh-gallery-item slick-slide" data-slick-index="2" aria-hidden="true" style="width: 412px;" tabindex="-1" role="tabpanel" id="slick-slide12" aria-describedby="slick-slide-control12">
									<img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/5-660x660.jpg" alt="" class="width-full">
								</div><div class="sh-gallery-item slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" style="width: 412px;" tabindex="-1">
							<img width="660" height="660" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/9-660x660.jpg" class="width-full wp-post-image" alt="" srcset="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/9-660x660.jpg 660w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/9-150x150.jpg 150w" sizes="(max-width: 660px) 100vw, 660px">						</div><div class="sh-gallery-item slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" style="width: 412px;" tabindex="-1">
									<img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/1-660x660.jpg" alt="" class="width-full">
								</div><div class="sh-gallery-item slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" style="width: 412px;" tabindex="-1">
									<img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/5-660x660.jpg" alt="" class="width-full">
								</div></div></div>







											<button type="button" class="slick-next slick-arrow" style="display: block;"><span class="ti-angle-right"></span></button><ul class="slick-dots" style="display: table;" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control10" aria-controls="slick-slide10" aria-label="1 of 3" tabindex="0" aria-selected="true">1</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control11" aria-controls="slick-slide11" aria-label="2 of 3" tabindex="-1">2</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control12" aria-controls="slick-slide12" aria-label="3 of 3" tabindex="-1">3</button></li></ul></div>

			<div class="post-content-container">

				<div class="post-meta post-meta-one">

        <span class="post-meta-author">
            by            <a href="https://jevelin.shufflehound.com/blog1/author/shufflehound/" class="bypostauthor">
                shufflehound            </a>
        </span>

                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/the-white-slopes/" class="post-meta-date sh-default-color">November 23, 2016</a>

    				</div>

				<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/the-white-slopes/" class="post-title">
					<h2>
												The white slopes					</h2>
				</a>

				<div class="post-content">
											Ut et lacus ex. Aliquam dignissim mauris sit amet purus convallis, vitae vehicula lectus tincidunt. Nulla placerat…									</div>

				<div class="post-meta post-meta-two">

        <div class="sh-columns post-meta-comments">
            <span class="post-meta-categories">
                <i class="icon-tag"></i>
                <a href="https://jevelin.shufflehound.com/blog1/category/nature/">Nature</a>, <a href="https://jevelin.shufflehound.com/blog1/category/people/">People</a>, <a href="https://jevelin.shufflehound.com/blog1/category/travel/">Travel</a>            </span>

                            <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/the-white-slopes/#comments" class="post-meta-comments">
                    <i class="icon icon-bubble"></i>
                    0                </a>
                    </div>

    				</div>
			</div>

		</div>
	</article>




	<article id="post-66" class="post-item post-66 post type-post status-publish format-standard has-post-thumbnail hentry category-tech" style="position: absolute; left: 0px; top: 3426px;">
		<div class="post-container">

			<div class="post-meta-thumb">
				<img width="1024" height="758" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/10-1024x758.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/10-1024x758.jpg 1024w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/10-300x222.jpg 300w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/10-768x568.jpg 768w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/10.jpg 1200w" sizes="(max-width: 1024px) 100vw, 1024px">
        <div class="sh-overlay-style1">
            <div class="sh-table-full">
                                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/check-out-my-new-action-camera/" class="sh-overlay-item sh-table-cell">
                        <div class="sh-overlay-item-container">
                            <i class="icon-link"></i>
                        </div>
                    </a>

                                    <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/10-1024x758.jpg" class="sh-overlay-item sh-table-cell" data-rel="lightcase">
                        <div class="sh-overlay-item-container">
                            <i class="icon-magnifier-add"></i>
                        </div>
                    </a>
                            </div>
        </div>

    			</div>

			<div class="post-content-container">

				<div class="post-meta post-meta-one">

        <span class="post-meta-author">
            by            <a href="https://jevelin.shufflehound.com/blog1/author/shufflehound/" class="bypostauthor">
                shufflehound            </a>
        </span>

                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/check-out-my-new-action-camera/" class="post-meta-date sh-default-color">November 23, 2016</a>

    				</div>

				<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/check-out-my-new-action-camera/" class="post-title">
					<h2>
												Check out my new action camera!					</h2>
				</a>

				<div class="post-content">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in eros scelerisque, scelerisque nisl sit amet, molestie…									</div>

				<div class="post-meta post-meta-two">

        <div class="sh-columns post-meta-comments">
            <span class="post-meta-categories">
                <i class="icon-tag"></i>
                <a href="https://jevelin.shufflehound.com/blog1/category/tech/">Tech</a>            </span>

                            <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/check-out-my-new-action-camera/#comments" class="post-meta-comments">
                    <i class="icon icon-bubble"></i>
                    0                </a>
                    </div>

    				</div>
			</div>

		</div>
	</article>



	<article id="post-64" class="post-item post-64 post type-post status-publish format-standard has-post-thumbnail hentry category-commercial category-people tag-motivation" style="position: absolute; left: 442px; top: 3587px;">
		<div class="post-container">

			<div class="post-meta-thumb">
				<img width="838" height="1024" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/11-838x1024.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/11-838x1024.jpg 838w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/11-246x300.jpg 246w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/11-768x938.jpg 768w, https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/11.jpg 1200w" sizes="(max-width: 838px) 100vw, 838px">
        <div class="sh-overlay-style1">
            <div class="sh-table-full">
                                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/first-steps-in-the-right-direction/" class="sh-overlay-item sh-table-cell">
                        <div class="sh-overlay-item-container">
                            <i class="icon-link"></i>
                        </div>
                    </a>

                                    <a href="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/11-838x1024.jpg" class="sh-overlay-item sh-table-cell" data-rel="lightcase">
                        <div class="sh-overlay-item-container">
                            <i class="icon-magnifier-add"></i>
                        </div>
                    </a>
                            </div>
        </div>

    			</div>

			<div class="post-content-container">

				<div class="post-meta post-meta-one">

        <span class="post-meta-author">
            by            <a href="https://jevelin.shufflehound.com/blog1/author/shufflehound/" class="bypostauthor">
                shufflehound            </a>
        </span>

                    <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/first-steps-in-the-right-direction/" class="post-meta-date sh-default-color">November 23, 2016</a>

    				</div>

				<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/first-steps-in-the-right-direction/" class="post-title">
					<h2>
												First steps in the right direction					</h2>
				</a>

				<div class="post-content">
											Morbi eu ante mollis, elementum tortor in, hendrerit libero. Maecenas feugiat rhoncus magna, at consequat libero dictum…									</div>

				<div class="post-meta post-meta-two">

        <div class="sh-columns post-meta-comments">
            <span class="post-meta-categories">
                <i class="icon-tag"></i>
                <a href="https://jevelin.shufflehound.com/blog1/category/commercial/">Commercial</a>, <a href="https://jevelin.shufflehound.com/blog1/category/people/">People</a>            </span>

                            <a href="https://jevelin.shufflehound.com/blog1/2016/11/23/first-steps-in-the-right-direction/#comments" class="post-meta-comments">
                    <i class="icon icon-bubble"></i>
                    0                </a>
                    </div>

    				</div>
			</div>

		</div>
	</article>


		</div>

		<div class="sh-pagination sh-default-color"><ul class="page-numbers">
	<li><span aria-current="page" class="page-numbers current">1</span></li>
	<li><a class="page-numbers" href="https://jevelin.shufflehound.com/blog1/page/2/">2</a></li>
	<li><a class="next page-numbers" href="https://jevelin.shufflehound.com/blog1/page/2/">Next</a></li>
</ul>
</div>
	</div>
			<div id="sidebar" class="sidebar-right">


	<div id="recent_posts-2" class="widget_social_links widget-item widget_recent_posts">	<div class="wrap-recent-posts">
		<h3 class="widget-title">Latest posts</h3>		<div class="sh-recent-posts-widgets">

					<div class="sh-recent-posts-widgets-item">
													<div class="sh-recent-posts-widgets-item-thumb">
								<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/trip-that-youll-never-forget/">

        <div class="sh-ratio">
            <div class="sh-ratio-container sh-ratio-container-square">
                <div class="sh-ratio-content" style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/1-150x150.jpg);"></div>
            </div>
        </div>
									<div class="sh-mini-overlay">
										<div class="sh-mini-overlay-container">
											<div class="sh-table-full">
												<div class="sh-table-cell">
													<i class="icon-link"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="sh-recent-posts-widgets-count">
										0									</div>
								</a>
							</div>
							<div class="sh-recent-posts-widgets-item-content">


								<span class="post-meta-categories">
						            <a href="https://jevelin.shufflehound.com/blog1/category/people/">People</a>, <a href="https://jevelin.shufflehound.com/blog1/category/travel/">Travel</a>						        </span>

								<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/trip-that-youll-never-forget/">
									<h6>Trip that you’ll never ever forget</h6>
								</a>


													</div>
											</div>


					<div class="sh-recent-posts-widgets-item">
													<div class="sh-recent-posts-widgets-item-thumb">
								<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/gear-on-the-white-cloth/">

        <div class="sh-ratio">
            <div class="sh-ratio-container sh-ratio-container-square">
                <div class="sh-ratio-content" style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/2-150x150.jpg);"></div>
            </div>
        </div>
									<div class="sh-mini-overlay">
										<div class="sh-mini-overlay-container">
											<div class="sh-table-full">
												<div class="sh-table-cell">
													<i class="icon-link"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="sh-recent-posts-widgets-count">
										0									</div>
								</a>
							</div>
							<div class="sh-recent-posts-widgets-item-content">


								<span class="post-meta-categories">
						            <a href="https://jevelin.shufflehound.com/blog1/category/photography/">Photography</a>, <a href="https://jevelin.shufflehound.com/blog1/category/tech/">Tech</a>						        </span>

								<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/gear-on-the-white-cloth/">
									<h6>Must-have gear</h6>
								</a>


													</div>
											</div>


					<div class="sh-recent-posts-widgets-item">
													<div class="sh-recent-posts-widgets-item-thumb">
								<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/movie-like-photo-shoot/">

        <div class="sh-ratio">
            <div class="sh-ratio-container sh-ratio-container-square">
                <div class="sh-ratio-content" style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/3-150x150.jpg);"></div>
            </div>
        </div>
									<div class="sh-mini-overlay">
										<div class="sh-mini-overlay-container">
											<div class="sh-table-full">
												<div class="sh-table-cell">
													<i class="icon-link"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="sh-recent-posts-widgets-count">
										0									</div>
								</a>
							</div>
							<div class="sh-recent-posts-widgets-item-content">


								<span class="post-meta-categories">
						            <a href="https://jevelin.shufflehound.com/blog1/category/design/">Design</a>, <a href="https://jevelin.shufflehound.com/blog1/category/photography/">Photography</a>						        </span>

								<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/movie-like-photo-shoot/">
									<h6>Movielike photo shoot – B&amp;W</h6>
								</a>


													</div>
											</div>


					<div class="sh-recent-posts-widgets-item">
													<div class="sh-recent-posts-widgets-item-thumb">
								<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/craftsmen-at-work/">

        <div class="sh-ratio">
            <div class="sh-ratio-container sh-ratio-container-square">
                <div class="sh-ratio-content" style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/4-150x150.jpg);"></div>
            </div>
        </div>
									<div class="sh-mini-overlay">
										<div class="sh-mini-overlay-container">
											<div class="sh-table-full">
												<div class="sh-table-cell">
													<i class="icon-link"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="sh-recent-posts-widgets-count">
										0									</div>
								</a>
							</div>
							<div class="sh-recent-posts-widgets-item-content">


								<span class="post-meta-categories">
						            <a href="https://jevelin.shufflehound.com/blog1/category/people/">People</a>						        </span>

								<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/craftsmen-at-work/">
									<h6>Craftsmen at work</h6>
								</a>


													</div>
											</div>

									</div>
	</div>
	</div>
<div id="imagev2-2" class="widget_advertise widget-item widget_imagev2">


		<a href="https://jevelin.shufflehound.com/">
			<img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/ad.png">
		</a>


</div><div id="search-2" class="widget-item widget_search">
            <form method="get" class="search-form" action="https://jevelin.shufflehound.com/blog1/">
                <div>
                    <label>
                        <input type="search" class="sh-sidebar-search search-field" placeholder="Search here..." value="" name="s" title="Search text" required="">
                    </label>
                    <button type="submit" class="search-submit">
                        <i class="icon-magnifier"></i>
                    </button>
                </div>
            </form></div><div id="tag_cloud-2" class="widget-item widget_tag_cloud"><h3 class="widget-title">Popular tags</h3><div class="tagcloud"><a href="https://jevelin.shufflehound.com/blog1/tag/bike/" class="tag-cloud-link tag-link-52 tag-link-position-1" style="font-size: 8pt;" aria-label="Bike (1 item)">Bike</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/building/" class="tag-cloud-link tag-link-38 tag-link-position-2" style="font-size: 8pt;" aria-label="Building (1 item)">Building</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/camera/" class="tag-cloud-link tag-link-45 tag-link-position-3" style="font-size: 8pt;" aria-label="Camera (1 item)">Camera</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/craft/" class="tag-cloud-link tag-link-42 tag-link-position-4" style="font-size: 8pt;" aria-label="Craft (1 item)">Craft</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/gear/" class="tag-cloud-link tag-link-46 tag-link-position-5" style="font-size: 8pt;" aria-label="Gear (1 item)">Gear</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/girl/" class="tag-cloud-link tag-link-24 tag-link-position-6" style="font-size: 22pt;" aria-label="Girl (3 items)">Girl</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/jumping/" class="tag-cloud-link tag-link-41 tag-link-position-7" style="font-size: 8pt;" aria-label="Jumping (1 item)">Jumping</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/lake/" class="tag-cloud-link tag-link-23 tag-link-position-8" style="font-size: 16.4pt;" aria-label="Lake (2 items)">Lake</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/lifestyle/" class="tag-cloud-link tag-link-48 tag-link-position-9" style="font-size: 8pt;" aria-label="Lifestyle (1 item)">Lifestyle</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/master/" class="tag-cloud-link tag-link-43 tag-link-position-10" style="font-size: 8pt;" aria-label="Master (1 item)">Master</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/mock-up/" class="tag-cloud-link tag-link-27 tag-link-position-11" style="font-size: 8pt;" aria-label="Mock-up (1 item)">Mock-up</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/motivation/" class="tag-cloud-link tag-link-30 tag-link-position-12" style="font-size: 8pt;" aria-label="Motivation (1 item)">Motivation</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/mountains/" class="tag-cloud-link tag-link-34 tag-link-position-13" style="font-size: 8pt;" aria-label="Mountains (1 item)">Mountains</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/movie/" class="tag-cloud-link tag-link-18 tag-link-position-14" style="font-size: 16.4pt;" aria-label="Movie (2 items)">Movie</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/notebook/" class="tag-cloud-link tag-link-28 tag-link-position-15" style="font-size: 8pt;" aria-label="Notebook (1 item)">Notebook</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/office/" class="tag-cloud-link tag-link-37 tag-link-position-16" style="font-size: 8pt;" aria-label="Office (1 item)">Office</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/stormtrooper/" class="tag-cloud-link tag-link-44 tag-link-position-17" style="font-size: 8pt;" aria-label="Stormtrooper (1 item)">Stormtrooper</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/swimming/" class="tag-cloud-link tag-link-22 tag-link-position-18" style="font-size: 8pt;" aria-label="Swimming (1 item)">Swimming</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/trooper/" class="tag-cloud-link tag-link-16 tag-link-position-19" style="font-size: 8pt;" aria-label="Trooper (1 item)">Trooper</a></div>
</div>		</div>



			</div>
		</div>

		<footer class="sh-footer">

				<div class="sh-footer-widgets">
					<div class="container">
						<div class="sh-footer-columns">

	<div id="image-2" class="widget_social_links widget-item widget_image">	<div class="wrap-image">
				<div class="sh-image-widgets">


							<img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/Footer_logo.png" alt="">


							<p class="sh-image-widgets-description">
					Pellentesque placerat tincidunt urna, vitae feugiat magna vestibulum non. Mauris ut sagittis est. Pellentesque a felis est. Duis in risus metus. Cras felis ante, sodales eget pretium eu, hendrerit at metus. Maecenas aliquam dictum sapien id ornare.				</p>

							<p class="sh-image-widgets-description sh-image-widgets-social">
					<a href="http://twitter.com" target="_blank" class="social-media-twitter">
                <i class="icon-social-twitter"></i>
            </a><a href="http://facebook.com" target="_blank" class="social-media-facebook">
                <i class="icon-social-facebook"></i>
            </a></p><div class="sh-clear"></div>				<p></p>


		</div>
	</div>
	</div>
	<div id="recent_posts-3" class="widget_social_links widget-item widget_recent_posts">	<div class="wrap-recent-posts">
		<h3 class="widget-title">Recent Posts</h3>		<div class="sh-recent-posts-widgets">

					<div class="sh-recent-posts-widgets-item">
													<div class="sh-recent-posts-widgets-item-thumb">
								<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/trip-that-youll-never-forget/">

        <div class="sh-ratio">
            <div class="sh-ratio-container sh-ratio-container-square">
                <div class="sh-ratio-content" style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/1-150x150.jpg);"></div>
            </div>
        </div>
									<div class="sh-mini-overlay">
										<div class="sh-mini-overlay-container">
											<div class="sh-table-full">
												<div class="sh-table-cell">
													<i class="icon-link"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="sh-recent-posts-widgets-count">
										0									</div>
								</a>
							</div>
							<div class="sh-recent-posts-widgets-item-content">


								<span class="post-meta-categories">
						            <a href="https://jevelin.shufflehound.com/blog1/category/people/">People</a>, <a href="https://jevelin.shufflehound.com/blog1/category/travel/">Travel</a>						        </span>

								<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/trip-that-youll-never-forget/">
									<h6>Trip that you’ll never ever forget</h6>
								</a>


													</div>
											</div>


					<div class="sh-recent-posts-widgets-item">
													<div class="sh-recent-posts-widgets-item-thumb">
								<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/gear-on-the-white-cloth/">

        <div class="sh-ratio">
            <div class="sh-ratio-container sh-ratio-container-square">
                <div class="sh-ratio-content" style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/2-150x150.jpg);"></div>
            </div>
        </div>
									<div class="sh-mini-overlay">
										<div class="sh-mini-overlay-container">
											<div class="sh-table-full">
												<div class="sh-table-cell">
													<i class="icon-link"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="sh-recent-posts-widgets-count">
										0									</div>
								</a>
							</div>
							<div class="sh-recent-posts-widgets-item-content">


								<span class="post-meta-categories">
						            <a href="https://jevelin.shufflehound.com/blog1/category/photography/">Photography</a>, <a href="https://jevelin.shufflehound.com/blog1/category/tech/">Tech</a>						        </span>

								<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/gear-on-the-white-cloth/">
									<h6>Must-have gear</h6>
								</a>


													</div>
											</div>


					<div class="sh-recent-posts-widgets-item">
													<div class="sh-recent-posts-widgets-item-thumb">
								<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/movie-like-photo-shoot/">

        <div class="sh-ratio">
            <div class="sh-ratio-container sh-ratio-container-square">
                <div class="sh-ratio-content" style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/3-150x150.jpg);"></div>
            </div>
        </div>
									<div class="sh-mini-overlay">
										<div class="sh-mini-overlay-container">
											<div class="sh-table-full">
												<div class="sh-table-cell">
													<i class="icon-link"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="sh-recent-posts-widgets-count">
										0									</div>
								</a>
							</div>
							<div class="sh-recent-posts-widgets-item-content">


								<span class="post-meta-categories">
						            <a href="https://jevelin.shufflehound.com/blog1/category/design/">Design</a>, <a href="https://jevelin.shufflehound.com/blog1/category/photography/">Photography</a>						        </span>

								<a href="https://jevelin.shufflehound.com/blog1/2016/11/23/movie-like-photo-shoot/">
									<h6>Movielike photo shoot – B&amp;W</h6>
								</a>


													</div>
											</div>

									</div>
	</div>
	</div><div id="tag_cloud-3" class="widget-item widget_tag_cloud"><h3 class="widget-title">Tags</h3><div class="tagcloud"><a href="https://jevelin.shufflehound.com/blog1/tag/bike/" class="tag-cloud-link tag-link-52 tag-link-position-1" style="font-size: 8pt;" aria-label="Bike (1 item)">Bike</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/building/" class="tag-cloud-link tag-link-38 tag-link-position-2" style="font-size: 8pt;" aria-label="Building (1 item)">Building</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/camera/" class="tag-cloud-link tag-link-45 tag-link-position-3" style="font-size: 8pt;" aria-label="Camera (1 item)">Camera</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/craft/" class="tag-cloud-link tag-link-42 tag-link-position-4" style="font-size: 8pt;" aria-label="Craft (1 item)">Craft</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/gear/" class="tag-cloud-link tag-link-46 tag-link-position-5" style="font-size: 8pt;" aria-label="Gear (1 item)">Gear</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/girl/" class="tag-cloud-link tag-link-24 tag-link-position-6" style="font-size: 22pt;" aria-label="Girl (3 items)">Girl</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/jumping/" class="tag-cloud-link tag-link-41 tag-link-position-7" style="font-size: 8pt;" aria-label="Jumping (1 item)">Jumping</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/lake/" class="tag-cloud-link tag-link-23 tag-link-position-8" style="font-size: 16.4pt;" aria-label="Lake (2 items)">Lake</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/lifestyle/" class="tag-cloud-link tag-link-48 tag-link-position-9" style="font-size: 8pt;" aria-label="Lifestyle (1 item)">Lifestyle</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/master/" class="tag-cloud-link tag-link-43 tag-link-position-10" style="font-size: 8pt;" aria-label="Master (1 item)">Master</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/mock-up/" class="tag-cloud-link tag-link-27 tag-link-position-11" style="font-size: 8pt;" aria-label="Mock-up (1 item)">Mock-up</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/motivation/" class="tag-cloud-link tag-link-30 tag-link-position-12" style="font-size: 8pt;" aria-label="Motivation (1 item)">Motivation</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/mountains/" class="tag-cloud-link tag-link-34 tag-link-position-13" style="font-size: 8pt;" aria-label="Mountains (1 item)">Mountains</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/movie/" class="tag-cloud-link tag-link-18 tag-link-position-14" style="font-size: 16.4pt;" aria-label="Movie (2 items)">Movie</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/notebook/" class="tag-cloud-link tag-link-28 tag-link-position-15" style="font-size: 8pt;" aria-label="Notebook (1 item)">Notebook</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/office/" class="tag-cloud-link tag-link-37 tag-link-position-16" style="font-size: 8pt;" aria-label="Office (1 item)">Office</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/stormtrooper/" class="tag-cloud-link tag-link-44 tag-link-position-17" style="font-size: 8pt;" aria-label="Stormtrooper (1 item)">Stormtrooper</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/swimming/" class="tag-cloud-link tag-link-22 tag-link-position-18" style="font-size: 8pt;" aria-label="Swimming (1 item)">Swimming</a>
<a href="https://jevelin.shufflehound.com/blog1/tag/trooper/" class="tag-cloud-link tag-link-16 tag-link-position-19" style="font-size: 8pt;" aria-label="Trooper (1 item)">Trooper</a></div>
</div>						</div>
					</div>
				</div>

							<div class="sh-copyrights">
		<div class="container container-padding">

				<div class="sh-copyrights-style2">
					<div class="sh-table-full">
												<div class="sh-table-cell">

<div class="sh-copyrights-text">
	<span class="developer-copyrights ">
		WordPress Theme built by <a href="http://shufflehound.com" target="blank"><strong>Shufflehound</strong>.</a>
	</span>
	<span></span>
</div>						</div>
					</div>
				</div>


		</div>
	</div>
		</footer>
	</div>




		<div class="sh-back-to-top sh-back-to-top3 active">
			<i class="icon-arrow-up"></i>
		</div>

	</div>




		<style>
	.sh-header-mobile-navigation .c-hamburger {
	    top: -1px!important;
	}

	#chatra.chatra--pos-right.chatra--style-round:not(.chatra--expanded) {
		right: 25px;
		bottom: 25px;
	}

	.sh-back-to-top {
		bottom: 110px;
		right: 35px;
	}

	@media (max-width: 800px) {
		#chatra.chatra--pos-right.chatra--style-round:not(.chatra--expanded) {
			right: 10px;
		}

		.sh-back-to-top {
			right: 15px;
		}
	}

	</style>
	<script>
	window.ChatraSetup = {
	    colors: {
	        buttonText: '#fff',
	        buttonBg: '#47c9e5'
	    }
		/*jQuery(document).ready(function ($) {
			jQuery('#place_order').attr('disabled', 'disabled');
		});*/
	};
	</script>
	<!-- Chatra {literal} -->
	<script>
	    (function(d, w, c) {
	        w.ChatraID = 'rZ9ZrwbmwQnBo72So';
	        var s = d.createElement('script');
	        w[c] = w[c] || function() {
	            (w[c].q = w[c].q || []).push(arguments);
	        };
	        s.async = true;
	        s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
	        + '//call.chatra.io/chatra.js';
	        if (d.head) d.head.appendChild(s);
	    })(document, window, 'Chatra');
	</script>
	<!-- /Chatra {/literal} -->







	<script type="text/javascript">
	jQuery(document).ready(function ($) {



        $('.primary-desktop .header-logo-container, .primary-mobile .header-logo-container').attr('href','//jevelin.shufflehound.com/hello/');

		function jevelin_settings() {
			if( $(window).width() < 600 ) {
				$('.sh-settings').hide();
			} else {
				$('.sh-settings').show();
			}
		}
		jevelin_settings();

	    $(window).resize(function() {
	        clearTimeout(window.resizedFinished2);
	        window.resizedFinished2 = setTimeout(function(){
	            jevelin_settings();
	        }, 500);
	    });

		$('.sh-settings-hide').on( 'click', function() {
			$('.sh-settings').toggleClass( 'sh-settings-active' );
		});

	    $(document).keyup(function(e) {
	        if (e.keyCode == 27) {
	            if( $('.sh-settings').hasClass('sh-settings-active') ) {
	                $('.sh-settings').removeClass('sh-settings-active');
	            }
	        }
	    });

		jQuery('.form-submit #submit').on('click', function( event ) {
			alert( 'This feature is disabled in our demo site. Sorry for any inconvenience.' );
			event.preventDefault()
			event.stopPropagation()
			return false;
		});

	});
	</script>




<style>
.sh-side-options {
	position: fixed;
	background-color: rgba(255,255,2555,1);
	top: 200px;
	right: 0;
	z-index: 12345678902;
	box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.12);
	-webkit-transition: 0.3s all;
	transition: 0.2s all;
	width: 74px;
	padding: 3px 0;
}

.sh-side-options-item {
	display: block;
}

.sh-side-options-item {
	text-align: center;
	margin: 0px;
	padding: 17px 0;
	transition: 0.3s all ease-in-out;
	position: relative;
	background-color: #fff;
}

.sh-side-options-item i {
	font-size: 24px;
}

.sh-side-options-item:not(:hover):not(:focus) {
	color: #B9B9B9!important;
}

.sh-side-options-item:hover .sh-side-options-hover {
	opacity: 1;
	transform: translateX(-100%);
}

.sh-side-options-hover {
	position: absolute;
	background-color: #232323;
	color: #fff;
	padding: 20px 26px;
	transform: translateX(0%);
	left: 0px;
	top: 0;
	bottom: 0;
	opacity: 0;
	transition: 0.2s all ease-in-out;
	z-index: -100;
}

.sh-side-options-hover span {
	padding: 0px 3px;
}

.sh-side-options-divider {
	margin: 0 10px;
	border-bottom: 1px solid #f2f2f2;
}

@media (max-width: 700px) {

	.sh-side-options {
		width: 52px;
	}

	.sh-side-options-item {
		padding: 10px 0;
	}

	.sh-side-options-item i {
		font-size: 16px;
	}

}

@media (max-width: 600px) {

	.sh-side-options {
		display: none;
	}

}

@media (max-height: 500px) {
	.sh-side-options {
		top: 120px!important;
	}
}



</style>

<div class="sh-side-options">
	<div class="sh-side-options-container" data-url="https://jevelin.shufflehound.com/blog1/">


			<a href="//jevelin.shufflehound.com/hello/" class="sh-side-options-item sh-accent-color">
			<i class="icon icon-layers"></i>
			<div class="sh-side-options-hover">
				Showcase
			</div>
		</a>

		<div class="sh-side-options-divider"></div>


		<a target="blank" href="http://themeforest.net/item/jevelin-multipurpose-responsive-theme/14728833?ref=Shufflehound&amp;license=regular&amp;open_purchase_for_item_id=14728833&amp;purchasable=source" class="sh-side-options-item sh-accent-color">
			<i class="icon icon-bag"></i>
			<div class="sh-side-options-hover">Purchase<span></span>Jevelin</div>
		</a>

		<div class="sh-side-options-divider"></div>

		<a href="//jevelin.shufflehound.com/hello/#questions" class="sh-side-options-item sh-accent-color">
			<i class="icon icon-directions"></i>
			<div class="sh-side-options-hover">Questions<span></span>/<span></span>Answers</div>
		</a>

		<div class="sh-side-options-divider"></div>

		<a target="blank" href="http://themeforest.net/user/Shufflehound?ref=Shufflehound#contact" class="sh-side-options-item sh-accent-color">
			<i class="icon icon-envelope"></i>
			<div class="sh-side-options-hover">Ask<span></span>Question</div>
		</a>
	</div>
</div>







<script type="text/javascript">

	jQuery(document).ready(function ($) {
	    "use strict";

	    $(".sh-page-loader").fadeOut(500);
	    $("body").css('overflow', 'visible');

		$(window).bind('beforeunload', function(e){
			$('.sh-page-loader').fadeIn();
		});

	});
</script>


<style>
.sh-page-loader {
	background-color: rgba(255,255,255,0.98)!important;
}
</style>

<script type="text/javascript">
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/blog1\/wp-admin\/admin-ajax.php","wc_ajax_url":"https:\/\/jevelin.shufflehound.com\/blog1\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/jevelin.shufflehound.com\/blog1","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.2.5"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4"></script>
<script type="text/javascript">
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/blog1\/wp-admin\/admin-ajax.php","wc_ajax_url":"https:\/\/jevelin.shufflehound.com\/blog1\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.2.5"></script>
<script type="text/javascript">
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/blog1\/wp-admin\/admin-ajax.php","wc_ajax_url":"https:\/\/jevelin.shufflehound.com\/blog1\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments_5a43a84a3de47a32b7f99e28160cb0d5"};
/* ]]> */
</script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.2.5"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-includes/js/jquery/ui/effect.min.js?ver=1.11.4"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/jquery.sumoselect.min.js?ver=1.0"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-includes/js/hoverIntent.min.js?ver=1.8.1"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/superfish.js?ver=1.7.5"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/bootstrap.min.js?ver=3.3.4"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/wow.min.js?ver=1.2.2"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/jquery.vide.js?ver=0.3.7"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/jquery.resize.sensor.js?ver=0.3"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/slick.min.js?ver=1.5.9"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/lightcase.min.js?ver=1.0"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/typed.js?ver=1.0"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/jarallax.min.js?ver=1.5.2"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/jarallax-video.min.js?ver=1.0.1"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/jssocials.min.js?ver=1.0"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/isotope.pkgd.min.js?ver=1.0"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/jquery.counterup.min.js?ver=1.0"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/jquery.waypoints.min.js?ver=1.0"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/velocity.min.js?ver=1.0"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/jquery.viewportChecker.js?ver=1.0"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-includes/js/imagesloaded.min.js?ver=3.2.0"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-includes/js/masonry.min.js?ver=3.3.2"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/jquery.simpleselect.min.js?ver=1.0"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/jquery.hoverdir.js?ver=1.0"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/jquery.actual.min.js?ver=1.0.16"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/smoothscroll.js?ver=1.4.4"></script>
<script type="text/javascript">
/* <![CDATA[ */
var jevelin = {"page_loader":"0","notice":"","header_animation_dropdown_delay":"1000","header_animation_dropdown":"easeOutQuint","header_animation_dropdown_speed":"300","lightbox_opacity":"0.88","lightbox_transition":"elastic","page_numbers_prev":"Previous","page_numbers_next":"Next","rtl_support":"","footer_parallax":"","one_pager":"1","wc_lightbox":"jevelin"};
/* ]]> */
</script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-content/themes/jevelin/js/scripts.js?ver=1.0"></script>
<script type="text/javascript" src="https://jevelin.shufflehound.com/blog1/wp-includes/js/wp-embed.min.js?ver=4.9.1"></script>
	<script type="text/javascript"> jQuery(document).ready(function ($) { "use strict"; });</script>



<div id="chatra" class="chatra--side-bottom chatra--pos-right chatra--style-round chatra--visible" style="width: 70px; height: 70px; transform: none; z-index: 9999;"><iframe frameborder="0" id="chatra__iframe" allowtransparency="true" src="https://chat.chatra.io/?hostId=rZ9ZrwbmwQnBo72So&amp;mode=widget&amp;lang=fr#clientId=euazgpv15cr1ftqwnyj3x2shkm6oi51b40l21d0&amp;currentPage=https%3A%2F%2Fcdn.jevelin.shufflehound.com%2Fblog1%2F&amp;currentPageTitle=Jevelin%20Theme%20Blog%20Demo%20%E2%80%93%20Just%20another%20Jevelin%20WordPress%20Theme%20site&amp;prevPage=https%3A%2F%2Fjevelin.shufflehound.com%2Fhello%2F&amp;referrer=https%3A%2F%2Fjevelin.shufflehound.com%2Fhello%2F" style="position: absolute;"></iframe></div></body></html>
