{% extends 'front/layout.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1>
            Le Blog de Lou
        </h1>
    </div>

	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-xs-12">
				<div class="grid">
					<div class="grid clearfix">
						{% for article in articles %}
				        	<div class="col-xs-12 col-sm-6 grid-item mb-4 mt-1">
				        		<div class="card">
				        			{% if article.image %}
	  									<img class="card-img-top" style="height: 180px; width: 100%; display: block; background-size: cover; background-position: center; background-image: url({{ vich_uploader_asset(article, 'imageFile') }})" data-holder-rendered="true">
	  								{% endif %}

	  								<div class="card-block">
	    								<h4 class="card-title">{{ article.title }}</h4>

	    								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    								<a href="#" class="btn btn-primary">Go somewhere</a>
	  								</div>
								</div>
				        	</div>
			        	{% endfor %}
			        </div>
				</div>
			</div>

			<div class="col-3">

			</div>
		</div>
	</div>
{% endblock %}
