{% extends 'admin/layout.html.twig' %}

{% block main %}
	<ol class="breadcrumb">
	    <li class="breadcrumb-item">
	        <a href="{{ path('admin_category_list') }}">Categories</a>
	    </li>

	    <li class="breadcrumb-item active">Nouveau</li>
	</ol>

	<div class="card mb-3">
        <div class="card-header">
          	<i class="fa fa-newspaper-o"></i> Nouvelle categoie
      	</div>

		{% include 'admin/category/_form.html.twig' %}
	</div>
{% endblock %}

{% block javascriptsExternal %}
    <script src="{{ asset('js/vendor/tinymce/tinymce.min.js') }}"></script>
{% endblock %}
