@import "~bootstrap/scss/bootstrap";
@import '~font-awesome/scss/font-awesome';
@import '~startbootstrap-sb-admin/scss/sb-admin';
@import '~select2/src/scss/core';

@import "composant/menu-left";
@import "composant/header";

html {
	font-size: 14px;
}

img {
	max-width: 100%;
}

a {
	color: #343a40;

	&:hover,
	&:focus {
		text-decoration: none;
		color: lighten(#343a40, 10%);
	}
}

.btn-default {
	background: #fff;
	color: #333;
}

.btn-primary {
	background: #2196F3;
	border-color: #2196F3;

	&:hover {
		cursor: pointer;
	}
}
