{% extends 'admin/layout.html.twig' %}

{% block main %}
	<ol class="breadcrumb">
	    <li class="breadcrumb-item">
	        <a href="{{ path('admin_user_list') }}">Users</a>
	    </li>

	    <li class="breadcrumb-item active">Edition</li>
	</ol>

	<div class="card mb-3">
        <div class="card-header">
          	<i class="fas fa-user"></i> {{ user }}
      	</div>

		{% include 'admin/user/_form.html.twig' %}
	</div>
{% endblock %}
